{{ (ansible_managed + "template: " + template_path|relpath(playbook_dir)) | comment }}

tickTime=2000
dataDir={{ zk_data_dir }}
clientPort=2181
maxClientCnxns=60

initLimit=10
syncLimit=5

{% for zk_server in zk_servers %}
server.{{ zk_server.id }}={{ zk_server.name }}:2888:3888
{% endfor %}
